<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="myMenu">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#main-menu" aria-controls="main-menu"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
<!--            <a class="navbar-brand" th:href="@{/employee}"><img th:src="@{/images/cubeLogo.png}" /></a>-->
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"> <i
                        class="menu-icon fa fa-dashboard"></i>Dashboard
                </a></li>
                <h3 class="menu-title">Menu</h3>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Management</a>
                    <ul class="sub-menu children dropdown-menu">
<!--                        <li sec:authorize="hasAuthority('ADMIN')"><i  class="fa fa-table"></i><a  th:href="@{/shift}">User Shift</a></li>-->
                        <li sec:authorize="hasAuthority('ADMIN')"><i class="fa fa-table"></i><a th:href="@{/registration}">Add User</a></li>
                        <li sec:authorize="hasAuthority('ADMIN')"><i class="fa fa-table"></i><a th:href="@{/employee}">Add Employee</a></li>
                        <li><i class="fa fa-table"></i><a th:href="@{/employee/list}">Employee List</a></li>
                        <li sec:authorize="hasAuthority('ADMIN')"><i class="fa fa-table"></i><a th:href="@{/food/payment}">Add Food Payment</a></li>
                        <li><i class="fa fa-table"></i><a th:href="@{/food/payment/list}">Food Payment List</a></li>
                        <li sec:authorize="hasAuthority('ADMIN')"><i class="fa fa-table"></i><a th:href="@{/payroll}">Add PayRoll File</a></li>
                        <li sec:authorize="hasAuthority('ADMIN')"><i class="fa fa-table"></i><a th:href="@{/payroll/report}">Payroll List</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
</body>
</html>